@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

.header {
    background: rgba(17, 25, 40, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    border-bottom: var(--border);
    position: fixed; /* LEMBRAR DE MUDAR PRA ABSOLUTE PRA TIRAR SCREENSHOT*/
    left: 0; top: 0; right: 0;
    z-index: 1000;
}

.header .logo h1 {
    font-size: 3rem;
    color: var(--main-color);
    font-style: oblique;
}

.header .icons {
    display: flex;
    align-items: center;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;   
}

.header .icons .whatsBtn a > div{
    font-size: 4rem;
    margin-left: 3.5rem;    
    color: var(--main-color);

    animation: lightEfect 5s linear infinite;
    text-shadow: 
    0 0 50px #0072ff,
    0 0 100px #0072ff,
    0 0 150px #0072ff,
    0 0 200px #0072ff;     
}

.header .icons div:hover{
    color:var(--main-color);
}

.header .icons .search:hover {
    transform: rotate(90deg);
}

.header .searchFieldActive{
    position: absolute;
    top: 110%;
    height: 4rem;
    width: 30%;
    right: 2rem;
    display: flex;
    align-items: center;
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 1.2rem;
    border: var(--border);
}

.header .searchFieldActive input{
    color: #fff;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    padding: 0 1rem;
    text-transform: none;
    border: none;
    background-color: rgba(17, 25, 40, 0.75);    
}

.header .searchFieldActive label{
    cursor: pointer;
    padding: 1rem;
    color:#fff;
    font-size: 2.5rem;
}

.header .searchFieldActive label:hover {
    color: var(--main-color);
}
  
@media (max-width: 767px){

    .header .searchFieldActive{
        width: 60%;
        right: .8rem ;
    }
}
        
@keyframes lightEfect {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
