.category {
  max-width: 100%;
  margin-bottom: 4rem;
}

.category .row_left,
.category .row_right {
  position: absolute;
  width: 4rem;
  height: 25rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  opacity: 0;
  cursor: pointer;
}
  
.category:hover .row_left,
.category:hover .row_right {
  opacity: .7;
}

.category .row_left {
  left: 7%;
}

.category .row_right {
  right: 7%;
}
  
.category h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline .2rem var(--main-color);
}

.row_area {
  overflow-x: hidden;
}
  
.card {
  display: inline-block;
  width: 15rem;
  margin-left: 1rem;
  padding: 0;
  border-radius: 1.5rem;
  background-color: azure;
}
  
.card > li {
  display: flex;
  justify-content: center;
}

.card li img {
  width: 100%;
  height: 15rem;
  transform: scale(0.9);  
}

.card img:hover {
  transform: scale(1);
  z-index: 99;
}

.card li h3 {
  font-size: 1.7rem;
}

.card li span {
  font-size: 1.7rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  
.category .row_left {
  left: 0;
}

.category .row_right {
  right: 0;
}
}