html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color:rgb(10, 9, 9);
}

a, ul, li {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
}
