.faded{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, rgb(10, 9, 9), transparent 90%);
}

.content{
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}

.content > h1 {
    padding: 0 2rem;
}

.content .left{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30vw;
    position: absolute;
    top: 15vh; left: 35vw;
}

@media (max-width: 768px) {
    .content >*{
        font-size: 1.8rem;
        padding: 0 1rem;
    }
}
